body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    background-color: rgba(227, 227, 227, 0.611);
}

#mySubmit{
    font-size: 1em;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(180, 100%, 92%);
}
#mySubmit:hover{
    background-color: aqua;
}
#mySubmit:active{
    background-color: hsl(180, 100%, 92%);

}